body {
  background: #f5f5f5;
}

.App {
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 85%;
  margin: 0 auto;
}

.cell {
  border: 1px solid dimgray;
  text-align: left;
  padding: 8px;
}

.thead {
  background-color: #444a4a;
  color: white;
}

.header {
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  margin: 50px;
}

.create-note-form {
  width: 30vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.input-for-editing {
  width: 100%;
}

.comment {
  margin: 20px;
}

.comment__detail {
  margin: 0;
}

@media screen and (max-width: 800px) {
  body {
    padding: 10px
  }

  .table {
    width: 100%;
  }

  .create-note-form {
    width: 50%;
  }
}
